* {
  box-sizing: border-box;
}

.blue {
  color: white;
  background-color: blue;
}

.grey {
  color: black;
  background-color: grey;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 1000px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}

.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.top_menu .buttons .button.close {
  background-color: #f5886e;
}

.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}

.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}

.top_menu .title {
  text-align: center;
  color: black;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 10px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden;
}

.messages p {
  margin-bottom: 0px;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}

.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}

.messages .message.left .text {
  color: #c48843;
}

.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}

.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}

.messages .message.right .text {
  color: #45829b;
}

.messages .message.appeared {
  opacity: 1;
}

.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #FFF;
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 40px;
  border-radius: 25px 0px 0px 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 20%);
  position: relative;
  padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}

// placeholder text
::-webkit-input-placeholder {
  font-size: 14px;
}

::-moz-placeholder {
  font-size: 14px;
}

:-ms-input-placeholder {
  font-size: 14px;
}

::placeholder {
  font-size: 14px;
}

.bottom_wrapper .send_message {
  // width: 100px;
  // height: 50px;
  //display: inline-block;
  border-radius: 0px 25px 25px 0px;
  border: 1px solid #E9531D;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  width: 20%;
}

.bottom_wrapper .send_message:hover {
  color: #E9531D;
  background-color: #fff;
}

.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

// custom media queries
// font-size for small screens
@media only screen and (max-width: 360px) {
  .alert {
    font-size: 11px;
  }
}

// MotoG4/Galaxy S5
@media only screen and (device-width: 360px) and (device-height: 640px) {
  .chat_window {
    height: 460px;
  }
}

// Pixel 2
@media only screen and (device-width: 411px) and (device-height: 731px) {
  .chat_window {
    height: 550px;
  }
}

// Pixel 2XL
@media only screen and (device-width: 411px) and (device-height: 823px) {
  .chat_window {
    height: 650px;
  }
}

// iPhone 5/SE
@media only screen and (device-width: 320px) and (device-height: 568px) {
  .chat_window {
    height: 390px;
  }
}

// iPhone 6/7/8
@media only screen and (device-width: 375px) and (device-height: 667px) {
  .chat_window {
    height: 480px;
  }
}

// iPhone 6/7/8 Plus
@media only screen and (device-width: 414px) and (device-height: 736px) {
  .chat_window {
    height: 550px;
  }
}

// iPhone 11 and iPhone XR
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .chat_window {
    height: 720px;
  }
}

// iPhone 12 Mini, iPhone 11 Pro, iPhone Xs, and iPhone X
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .chat_window {
    height: 640px;
  }
}

// iPhone 11 Pro Max and iPhone Xs Max
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .chat_window {
    height: 720px;
  }
}

// iPhone 12/12 Pro
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .chat_window {
    height: 665px;
  }
}

// iPhone 12 Pro Max
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .chat_window {
    height: 750px;
  }
}

// iPad
@media only screen and (device-width: 768px) and (device-height: 1024px) {
  .chat_window {
    height: 820px;
  }
}

// iPad Pro
@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .chat_window {
    height: 1000px;
  }

  .alert {
    font-size: 20px;
  }
}

// Surface Duo
@media only screen and (device-width: 540px) and (device-height: 720px) {
  .chat_window {
    height: 520px;
  }

  .alert {
    font-size: 12px;
  }
}

// Galaxy Fold
@media only screen and (device-width: 280px) and (device-height: 653px) {
  .chat_window {
    height: 475px;
  }
}

.form-group {
  margin-bottom: 0;
}

hr {
  margin: 0;
  padding: 0;
}

.user-name {
  font-size: 12px;
}

.col-auto button {
  border-color: white;
  padding: 0;
  margin: 0;
}
