<footer class="footer mt-auto bg-light">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-4">
          <a href="/admin/accounts" routerLinkActive="active">
            <i class="fas fa-users fa-2x"></i> 
            <p>Accounts</p>
          </a>
        </div>
        <div class="col-4">
          <a href="/admin/plannings" routerLinkActive="active">
            <i class="far fa-calendar-alt fa-2x"></i>
            <p>Planning</p>
          </a>
        </div>
        <div class="col-4">
          <a href="/admin/rooms" routerLinkActive="active">
            <i class="fas fa-chalkboard-teacher fa-2x"></i>
            <p>Rooms</p>
          </a>
        </div>
      </div>
    </div>
</footer>