<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <h4 class="text-center">Approve Open Questions</h4>
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Question 1
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Question 2
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Question 3
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Question 4
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            ...
          </li>
        </ul>
        <input class="btn btn-primary mt-3" type="submit" value="Approve">
      </div>
      <div>
        <h5 class="mt-3">Approved Questions</h5>
        <ul class="list-group">
          <li class="list-group-item">Question 1</li>
          <li class="list-group-item">Question 2</li>
          <li class="list-group-item">Question 3</li>
          <li class="list-group-item">Question 4</li>
          <li class="list-group-item">...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
