<footer class="footer mt-auto bg-light">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-4">
          <a href="/moderator-approve-open-questions" routerLinkActive="active">
            <i class="far fa-question-circle fa-2x"></i> 
            <p>Questions</p>
          </a>
        </div>
        <div class="col-4">
          <a href="/moderator-consult-feedback" routerLinkActive="active">
            <i class="fas fa-poll fa-2x"></i>
            <p>Polls</p>
          </a>
        </div>
        <div class="col-4">
          <a href="/moderator-manage-listeners" routerLinkActive="active">
            <i class="fas fa-chalkboard-teacher fa-2x"></i>
            <p>Rooms</p>
          </a>
        </div>
      </div>
    </div>
</footer>
